<form action="/songs" method="post">
  <input type="text" name="song" placeholder="Insert song name">
  <input type="text" name="artist" placeholder="Insert artist name">
  <% Genre.all.each do |genre| %>
  <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"><p><%= genre.name%></p><br>
<% end %>
  <input type="submit" value="Submit">
</form>
